*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color : #f1faee;
    }

#header{
    width: 100%;
    height: 100vh;
}
.logo{
    width: 100px;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    background-color: #a8dadc;
    padding: 20px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-weight: bold;
}
nav ul li a{
    color: #1d3557;
    text-decoration: none;
    font-size: 18px; 
    position: relative;  
}
.header-text{
    padding: 20px 20px;
    margin: 85px;
    font-size: 20px;
    font-weight: 900;
}
.header-text h1{
    font-size: 60px;
    margin-top: 30px;
}

.header-text h1 span{
    color: #e63946;
}

 /*-----À propos------*/
.container .row{
    display: flex;
    justify-content: space-between;
    padding: 42px 10%;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 25px;
}

.about-col-2{
    flex-basis: 60%;
}

.about-col-2 h1{
    font-size: 32px;
    font-weight: 900;
    color: #1d3557;
}

.about-col-2 p{
    font-size: 14px;
    text-align: left;
    padding-top: 30px;
    line-height: 35px;
    color: #1d3557;
}


/*-----work------*/

    .sub-title-1{
        font-size: 32px;
        font-weight:900;
        color: #1d3557;
        text-align: center;
        padding-top: 30px;
    }
    .work-list{
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 50px 10%;
    }

    .work-list h1{
       font-size: 18px;
       padding: 10px;
       text-align: center;
       color: #1d3557;
    }
    .work-list p{
        font-size: 12px;
        text-align: center;
        color: #1d3557;
        padding-bottom: 20px;
     }
     .work-list a{
        font-size: 28px;
       margin-left: 150px;
        color: #e63946;
     }

    .work{
        position: relative;
        overflow: hidden;

    }
    .work img{
        display: flex;
        justify-content: center;
        width: 80%;
        border-radius: 20px;
        margin-left: 30px;
    }
    .btn{
        display: block;
        margin: 10px auto;
        width: fit-content;
        background-color: #E63946;
        padding: 10px 20px;
        border-radius: 6px;
        text-decoration: none;
        color: #1d3557;
    }
    .btn:hover{
        background: #e63946;
    }

    /*-----Contact------*/
    .row{
        padding: 24px 10% ;
    }
    .contact-right{
        flex-basis: 60%;
    }
    .contact-left p{
        margin-top: 30px;
    }
    .contact-left p i{
        color: #e63946;
        margin-right: 15px;
        font-size: 25px;
    }
    .social-icons{
        margin-top: 30px;
    }
    .social-icons a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        color: #a8dadc;
        display: inline-block;
        transition: transform 0.5s;
    }
    .social-icons a:hover{
        color: #e63946;
        transform: translateY(-5px);
    }

    .btn.btn2{
        display: inline-block;
        background: #e63946;
    }
    .contact-right form{
        width: 100%;
    }
    form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        color: black;
        padding: 22px;
        margin: 10px 0;
        font-size: 14px;
        border-radius: 6px;
    }
    form .btn2{
        font-size: 14px;
        cursor: pointer;
        width: 170px;
        height: 40px;
    }
  
    nav .fas{
        display: none;
    }
    .text-align{
        text-align: justify;
    }

     /*-----Footer------*/
footer{
    background-color: #a8dadc;
}

    .footerContainer{
        width: 100%;
        padding:5px;
    }

    .socialIcons{
        display: flex;
        justify-content: center;
    }
    .socialIcons a{
        text-decoration: none;
        padding: 7px;
        background-color: #fff;
        margin: 5px;
        border-radius: 50%;
    }
    .socialIcons a i{
        font-size: 20px;
        color: #e63946;
        opacity: 0.9;

    }
    .socialIcons a i:hover{
        color: #a8dadc;
        transition: 0.5s;
    }

    .footerNav{
        margin: 10px
    }
    .footerNav ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    .footerNav ul li a{
        text-decoration: none;
        color: #e63946;
        margin: 5px;
        color: #1d3557;
        font-size: 14px;
        transition: 0.5s;
    }

/*-----Responsive------*/

@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 40%;
        margin-bottom: 100%;
        font-size: 14px;
    }
    .header-text h1{
        font-size: 15px;
        padding-top: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul {
        background-color: #e63946;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /*-----À propos------*/
    .container .row{
        display: flex;
        flex-direction: column;
    }
    .about-col-1 img{
        width: 70%;
        border-radius: 25px;
        margin-left: 45px;
    }    
    .about-col-2 h1{
        font-size: 18px;
        font-weight: 400;
        padding: 20px;
        text-align: center;
    }
    
    .about-col-2 p{
        font-size: 12px;
        text-align: left;
        padding-top: 10px;
        line-height: 35px;
        color: #1d3557;
    }
      /*-----work.html------*/

.sub-title-1{
        font-size: 24px;
        font-weight:400;
        text-align: center;
        padding-top: 15px;
    }
    .work-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 90px 10px;
    }

    .work-list h1{
       font-size: 12px;
       padding: 10px 0px;
       text-align: center;
    }
    .work-list p{
        font-size: 12px;
        text-align: center;
        padding: 10px 0px;
     }
     .work-list a{
        font-size: 14px;
       margin-left: 185px;
     }

    .work img{
        display: flex;
        width: 30%;
        border-radius: 20px;
        margin-left: 140px;
    }
    .btn{
        margin: 10px auto;
        padding: 8px 8px;
        font-size: 8px;
    }

     /*-----contact.html------*/
     .container .row{
        padding: 25px 10% ;
    }
    .sub-title{
        text-align: left;
        padding: 15px;
    }
    .contact-left p{
        padding: 5px 0px;
    }
    .contact-left p i{
        margin-right: 10px;
        font-size: 14px;
        padding: 5px 0px;
    }
    .social-icons{
        padding: 5px 0px;
    }
    .social-icons a{
        text-decoration: none;
        font-size: 14px;
    }
    .contact-right form{
        width: 100%;
    }
    form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        color: black;
        padding: 30px;
        margin: 10px 0;
        font-size: 12px;
        border-radius: 6px;
    }
    form .btn2{
        padding: 5px 5px;
        font-size: 14px;
        margin-top: 15px;
        cursor: pointer;
    }

    /*-----footer------*/
        .footerContainer{
            width: 100%;
            padding:3px;
        }
        .socialIcons a{
            padding: 7px;
            margin: 5px;
        }
        .socialIcons a i{
            font-size: 14px;
        }
    
        .footerNav{
            margin: 5px
        }
        .footerNav ul li a{
            margin: 3px;
            font-size: 12px;
        }
    
}
